* {
background-color: beige;

}

.only {
    background-color: beige;
}

xmp {
color: chartreuse;
display: block;
border-color: white;
background-color: black;
border-style: outset;
border-radius: 30px;
}